#twitch-embed {
	position:fixed;
	width: 25%;
	height: 25%;
	left: calc(((100% - 350px) * 0.5) - 12.5%);
	top:0%;
}

#chat {
	position:fixed;
	width: 350px;
	height: 100%;
	right:0%;
	top:0%;
}

#film {
	position:fixed;
	width: calc(100% - 350px);
	height: 75%;
	left:0%;
	bottom:0%;
}

