@font-face {
		src: url(fonts/Roobert-Regular.otf);
		font-family: Roobert;
}

#lektor {
	position:fixed;
	width: 70px;
	height: 17px;
	left: calc(50% - 175px);
	top: 50%;
}

#chat {
	position:fixed;
	width: 350px;
	height: 100%;
	right:0%;
	top:0%;
}

#napisy {
	position:fixed;
	width: 70px;
	height: 17px;
	left: calc(50% - 175px);
	top: 55%;
}

#text {
	position:fixed;
	right:353px;
	top: -1.5%;
}