@font-face {
		src: url(fonts/Roobert-Regular.otf);
		font-family: Roobert;
}

#suwak {
	position: fixed;
	left: calc(50% - 50px);
	top: calc(50% - 15px);
}

#suwak2 {
	position: fixed;
	left: calc(50% - 50px);
	top: calc(50% + 15px);
}

#switch {
	position: fixed;
	right: 350px;
	top: 20px;
}

#switch2 {
	position: fixed;
	right: 422px;
	top: -1px;
}

#twitch-embed {
	position:fixed;
	width: 25%;
	height: 25%;
	left: 0%;
	top:0%;
}

#chat {
	position:fixed;
	width: 350px;
	height: 100%;
	right:0%;
	top:0%;
}

#film {
	position:fixed;
	width: calc(100% - 350px);
	height: 100%;
	left:0%;
	bottom:0%;
}

#text {
	position:fixed;
	right:353px;
	top: -1.5%;
}