@font-face {
		src: url(fonts/Roobert-Regular.otf);
		font-family: Roobert;
}

#tlo {
	position: fixed;
	background-color: #313134;
	height: 71px;
	width: 189px;
	top: calc(50% - 43px - 15px);
	left: calc(50% - 238px - 30px);
}

#ukryjstream {
	position: fixed;
	right: 496px;
	top: -15px;
	height: 17px;
}

#opcje {
	position: fixed;
	right: 440px;
	top: -15px;
}

#textstrim {
    position:absolute;
    width:100%;
    top:0px;
    text-align:center;
}

#textczat {
    position:absolute;
    width:100%;
    bottom:2px;
    text-align:center;
}

#suwak {
	position: fixed;
	left: calc(50% - 240px);
	top: calc(50% - 10px - 30px);
}

#suwak2 {
	position: fixed;
	left: calc(50% - 240px);
	top: calc(50% + 10px - 30px);
}

#switch {
	position: fixed;
	right: 478px;
	top: -1px;
}

#switch2 {
	position: fixed;
	right: 422px;
	top: -1px;
}

#twitch-embed {
	position:fixed;
	width: 25%;
	height: 25%;
	left: 0%;
	top:0%;
}

#chat {
	position:fixed;
	width: 350px;
	height: 100%;
	right:0%;
	top:0%;
}

#film {
	position:fixed;
	width: calc(100% - 350px);
	height: 100%;
	left:0%;
	bottom:0%;
}

#text {
	position:fixed;
	right:353px;
	top: -15px;
}