@font-face {
		src: url(fonts/Roobert-Regular.otf);
		font-family: Roobert;
}

#tlo {
	position: fixed;
	background-color: #313134;
	height: 121px;
	width: 189px;
	top: calc(50% - 43px - 40px);
	left: calc(50% - 238px - 30px);
}

#filmframe {
	position: fixed;
	bottom: 0px;
	width: calc(100% - 350px);
}

#zmiana {
	position: fixed;
	top: 0px;
	right: 580px;
}

#ukryjstream {
	position: fixed;
	right: 496px;
	top: -15px;
	height: 17px;
}

#opcje {
	position: fixed;
	right: 440px;
	top: -15px;
}

#textstrim {
    position:absolute;
    width:100%;
    top:6px;
    text-align:center;
}

#textczat {
    position:absolute;
    width:100%;
    top:41px;
    text-align:center;
}

#textgora {
    position:absolute;
    width:100%;
    top:76px;
    text-align:center;
}

#suwak {
	position: fixed;
	left: calc(50% - 240px);
	top: calc(50% - 10px - 48px);
}

#suwak2 {
	position: fixed;
	left: calc(50% - 240px);
	top: calc(50% + 10px - 33px);
}

#suwak3 {
	position: fixed;
	left: calc(50% - 240px);
	top: calc(50% + 13px);
}

#switch {
	position: fixed;
	right: 478px;
	top: -1px;
}

#switch2 {
	position: fixed;
	right: 422px;
	top: -1px;
}

#switch3 {
	position: fixed;
	right: 673px;
	top: -1px;
}

#twitch-embed {
	position:fixed;
	width: 25%;
	height: 25%;
	left: 0%;
	top:0%;
}

#chat {
	position:fixed;
	width: 350px;
	height: 100%;
	right:0%;
	top:0%;
}

#film {
	position:fixed;
	width: calc(100% - 350px);
	height: 100%;
	left:0%;
	bottom:0%;
}

#text {
	position:fixed;
	right:353px;
	top: -15px;
}

.zaslaniacz {
	position:fixed;
	bottom: 0%;
	left: 0%;
	width: calc(100% - 350px);
	height: 46px;
	visibility: visible;
	opacity: 1;
	transition: visibility 0s linear 0s, opacity 300ms;
}

.film:hover + .zaslaniacz {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 300ms, opacity 300ms;
}

.zaslaniacz:hover {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 300ms, opacity 300ms;
}

#pasek {
	position: fixed;
	top: -15px; 
	right: 691px;
}